%div.container 
  %table.table
    %tbody
      %tr
        %th{:scope => "row"} Topic
        %td
          =@essay.topic
      %tr
        %th{:scope => "row"} Content
        %td
          =@essay.content
      %tr
        %th{:scope => "row"} User name
        %td
          =@user.last_name         
      %tr
        %th{:scope => "row"} Description
        %td
          =@essay.description
      %tr
        %th{:scope => "row"} Word limit
        %td
          =@essay.word_limit


%div.container 
  .panel.panel-default
    / Default panel contents
    .panel-heading
      =@essay.topic
    .panel-body
      %p
        =@essay.content
    / List group
    %ul.list-group
      %li.list-group-item 
        =@user.last_name
      %li.list-group-item
        =@essay.description
      %li.list-group-item
        =@essay.word_limit

%div.container 
  = form_for :essay, url: essay_path(@essay)do |f|
    .form-group
      = f.label :topic
      %br
      = f.text_field :topic, class: 'form-control', disabled: "disabled"

    .form-group
      = f.label :description
      %br
      = f.text_field :description, class: 'form-control', disabled: "disabled"
    .form-group
      = f.label :content
      %br
      = f.text_area :content, class: 'form-control', disabled: "disabled"

    .form-group
      = f.label :revision
      %br
      = f.text_area :revision, class: 'form-control'

    .form-group
      = f.label :words_limit
      %br
      = f.number_field :word_limit, class: 'form-control', disabled: "disabled"
    
    .form-group
      = f.submit :'submit', class: 'btn btn-success'
